<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>欢迎登陆</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
        <style>
			.pear-container {
				overflow: hidden;
			}
            div img {
                width: 100%;
            }
			.layui-row {
				position: relative;
			}
			.layui-row div{
				position: absolute;
				left: 45%;
				top: 35%;
			}
        </style>
	</head>
	<body class="pear-container">
		<div>
			<div class="layui-row layui-col-space10">
				<img src="./welcome.jpg" alt="欢迎登陆！！！">
				<div>
					<h1>欢迎使用在线实验平台！</h1>
				</div>
			</div>
		</div>
	</body>
</html>